*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(19, 87, 109);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vmin;
}
#heading1{
    margin-top: 30px;

}
div{
    height: max-content;
    width: 60vmin;
    display: flex;
     gap: 1vmin;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.box{
    width: 18vmin;
    height: 18vmin;
   border-radius: 3vmin;
   border: none;
   color: black;
   font-size: 8vmin;
   background-color: rgb(209, 211, 142);
}
#wins{
    display: none;
}

#reset{
    height: 40px;
    width: 80px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
}